* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #444444;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.6;
  font-size: 90%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* включение технологии flexbox */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* колонки в ряду */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* колонки в центре контейнера */
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* держать колонки в ряду */
  margin: 20px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* одинаковая высота колонок */
  width: 33.33%;
  /* ширина одной колонки */
  padding: 5px;
}

.card {
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding-bottom: 20px;
}

.card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.card-content {
  padding: 0 20px;
}

a {
  color: #444444;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.card-content .fa,
span {
  font-size: 80%;
}

.card h2 {
  padding-top: 10px;
  color: #f76270;
  font-size: 130%;
  line-height: 1.2;
}

.card p {
  margin: 20px 0 30px;
  color: #666666;

}

.button {
  display: block;
  background: #a7c1cf;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.button:hover,
.button:focus {
  background: #f76270;
}

@media screen and (max-width: 640px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* в ряду останется одна колонка */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* разрешен перенос колонок */
  }

  .column {
    width: 100%;
    /* новая ширина колонки */
    margin-bottom: 20px;
  }
}
